<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
					http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
					http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
					http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!--设置spring容器的扫描范围，扫描类包，将标注Spring注解的类自动转化Bean，同时完成Bean的注入 -->
	<context:component-scan base-package="com.commons,com.online" />
	
	<!--属性资源定位器：加载数据库属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	
	<!--开起注解方式的springmvc -->
	<mvc:annotation-driven />
	
	<!--让spring前端控制器跳过静态的资源请求 location路径, /resources/**这个文件夹下所有资源全部跳过 -->
	<mvc:resources mapping="/resources/**" location="/resources/" />
	
	<!--配置dbcp连接池JDBC数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- 自动扫描mapping.xml文件 -->
		<property name="mapperLocations" value="classpath:/com/online/cms/**/dao/*.xml"></property>
		<!-- 配置mybatis分页插件 -->
		<property name="configLocation" value="classpath:mybatis-config.xml" />
	</bean>
	
	<!-- DAO接口所在包名，Spring会自动查找其下的类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.online.cms.**.dao"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
	
	<!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 基于注释的事务，当注释中发现@Transactional时，使用id为“transactionManager”的事务管理器 -->	
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!--JSP 视图解析 配置视图解析器，将ModelAndView及字符串解析为具体的页面 -->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
        <property name="viewNames" value="jsp*"></property>
        <property name="prefix" value="/WEB-INF/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="1" />
    </bean>
    
    <!--springMVC+thymeleaf的跳转页面配置-->
    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
      	<property name="templateEngine" ref="templateEngine" />
      	<property name="viewNames" value="html*"></property>
      	<property name="order" value="0" />
      	<property name="characterEncoding" value="UTF-8"/>
    </bean>
    <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
       	<property name="templateResolver" ref="templateResolver" />
    </bean>
    <bean id="templateResolver" class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
      	<property name="prefix" value="/WEB-INF/frontPage/" />
      	<property name="suffix" value=".html" />
      	<property name="templateMode" value="HTML5" />
      	<property name="characterEncoding" value="UTF-8"/>
    </bean>
    
    <!--文件上传下载专用的视图解析器CommonsMultipartResolver -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value = "UTF-8" />  <!-- 编码 -->
		<property name="maxInMemorySize" value="10240" /> <!-- 最大内存大小 (10240) -->
		<property name="maxUploadSize" value="-1" /> <!-- 最大文件大小，-1为无限止(-1) -->
	</bean>
	
	<!-- 自定义的spring容器载加工具 -->
	<bean id="SpringContextUtil" class="com.commons.util.SpringContextUtil" />
	
	<!-- 开启注解方式aop -->
	<aop:aspectj-autoproxy />

</beans>