<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>在线阅读电子书</title>
<meta name="keywords" content="java,javaScript,php,SQL,C,C#,CSS,HTML" />
<meta name="description" content="Book Store Template, Free CSS Template, Download CSS Website" />
<link href="../../resources/css/book/templatemo_style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../resources/js/getProjectRootPath.js"></script>
</head>
<body>
<div id="templatemo_container">
	<div id="templatemo_menu">
    	<ul>
            <li><a href="#" class="current">首页</a></li>
            <li><a href="#">搜索</a></li>
            <li><a href="#">关于本站</a></li>  
        </ul>
    </div>
    <div id="templatemo_content">
    	<div id="templatemo_content_right">
        	<div class="templatemo_product_box" th:each="item:${listBooks}">
             	<h1><span th:text="${item.bookName}">书名</span>&ensp;(<span th:text="${item.author}">作者</span>)</h1>
  	      			<img th:src="@{${item.imageUrl}}" th:alt="image"/>
                <div class="product_info"> 
               	<p><span style="font-size: 12px;" th:text="${item.describes}">简介</span><a th:href="@{'/book/detail/'+(${item.id})+'.html'}">...更多</a></p>
                 	<h3>￥ <span th:text="${item.price}">价格</span></h3> 
                   <div class="buy_now_button"><a th:href="@{${item.buyLink}}" target="_blank">立即购买</a></div>
                   <div class="detail_button"><a th:href="@{${item.pdfUrl}}" target="_blank">在线阅读</a></div>
                   <h3><span th:text="${#dates.format(item.publishDate,'yyyy-MM-dd')}"></span></h3>
               </div>
            </div>
        </div>
        <div class="cleaner_with_height">&nbsp;</div>
	    <div id="templatemo_footer_show">
	    	Copyright © 2017 <span style="color : yellow">onlineReading</span>
		</div> 
	</div>
</div>
</body>
</html>
