<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>电子书简介</title>
<meta name="keywords" content="JAVA,PHP,SQL, CSS, HTML, TemplateMo.com" />
<meta name="description" content="Book Store Template, Free CSS Template, Download CSS Website from TemplateMo.com" />
<link href="../../resources/css/book/templatemo_style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.span_back{
	left: 55%;
	cursor:pointer;
	float:right;
}
ul li{
	list-style: none;
	margin-left: 6px;
	margin-right: 6px;
}
</style>
</head>
<body>
<div id="templatemo_container">
	<div id="templatemo_menu">
    	<ul>
            <li><a href="javascript:history.go(-1)" class="current">首页</a></li>
            <li><a href="#">搜索</a></li>
            <li><a href="#">关于本站</a></li> 
        </ul>
    </div>
    <div id="templatemo_header">
    	<div id="templatemo_special_offers">
        	<p>
                discounts for purchase over
        	</p>
		</div>
        <div id="templatemo_new_books">
       		<ul>
        		<li>书中自有黄金屋</li>
        		<li>书中自有颜如玉</li>
			</ul>
		</div>
    </div>
    <div id="templatemo_content">
    	<div id="templatemo_content_left">
        	<div class="templatemo_content_left_section">
            	<h1>本站公告</h1>
                <ul>
                    <li style="font-size: 14px;">&emsp;&emsp;本站内所有技术类书籍均来源于互联网收集,为所有程序员找书、看书、买书提供方便,如有侵犯您的著作权,请在"<span style="color: yellow">关于本站中</span>"联系管理员进行删除。</li> 
                </ul>
            </div>
        </div>
        <div id="templatemo_content_right" class="templatemo_content_right_detail" >
        	<h1><span th:text="${EBook.bookName}"></span>&ensp;<span class="span_back" onclick="javascript:history.go(-1);">返回</span></h1>
            <div class="image_panel"><img th:src="@{${EBook.imageUrl}}" alt="CSS Template" width="100" height="150" /></div>
          	<ul>
          		<li>作者:<span th:text="${EBook.author}"></span></li>
	            <li>出版日期:&ensp;<span th:text="${#dates.format(EBook.publishDate,'yyyy-MM-dd')}"></span></li>
                <li>国际标准书号ISBN:&ensp;<span th:text="${EBook.id}"></span></li>
                
            </ul>
            
           	<span>内容简介:</span><br/>
           		<p th:text="${EBook.describes}"></p><br />
        </div>
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> 
    <div id="templatemo_footer_detail">
	    Copyright © 2017 <span style="color : yellow">onlineReading</span>
	</div>
</div> 
</body>
</html>
